*{
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 50px 150px;
}
/* Columnas principales */
.column-container{
    height: 700px;
    flex:1
}


.cuadro1{
display: flex;
    flex-direction: row;
    margin: 20px;
    
    height: 240px;
    width: 300px;
    background-color: aquamarine;
}

.cuadro2{
    flex:1;
    margin: 20px;
    height: 50px;
    width: 300px;
    background-color: blue;
}
.cuadro3{
    display:flex;
    justify-content: flex-end;
    margin:  20px;
    width: 150px;
    height: 320px;
    background-color: red;
}
    .cuadro4{
    
    margin: 20px;
    width: 140px;
    height: 140px;
    margin-left: 370px;
    margin-top: -670px;
}

.cuadro5{
    margin: 20px;
    width: 140px;
    height: 140px;
    margin-left: 370px;
    margin-top: 30px;
}
.cuadro6{
    flex:1;
    margin: 200px;
height: 150px;
width: 310px;
    margin-top: 10px;
}
.cuadro7{
    flex:1;
    margin: 200px;
height: 150px;
width: 310px;
    margin-top: -180px;
}
