* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.nav {
    background-color: #333333;
    color: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-size: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

.nav li {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn {
    background-color: #17a2b8;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;}



