* {
    padding: 0;
    margin: 0;
}

nav {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background-color: #3b82f6;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #f8fafc;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #facc15;
}


.container {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.container p {
    font-size: 50px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}


button {
    display: block; 
    margin: 20px auto; 
    background-color: #035096; 
    color: #000; 
    border: 2px solid #fff; 
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ffffff; 
}

